<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.Resolveiq_frontend">
        
        <!-- Splash Activity as Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Resolveiq_frontend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Onboarding Activity -->
        <activity
            android:name=".OnboardingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />
        
        
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />
            
        <activity
            android:name=".EmployeeHomeActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />
            
        <activity
            android:name=".CreateTicketActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />
            
        <activity
            android:name=".TicketSuccessActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".AgreementsActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".WorkflowActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".HelpSupportActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".TicketProgressActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".MyTicketsActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".AdminHomeActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".TeamsActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".TicketDetailsActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".CreateTeamActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".CreateTeamLeadActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />

        <activity
            android:name=".AboutActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />
        <activity
            android:name=".ProfileInformationActivity"
            android:theme="@style/Theme.Resolveiq_frontend"
            android:exported="false" />
    </application>

</manifest>